header{
    background-color: rgb(71, 69, 69);
    padding: 20px;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}
  
:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
}

.caixa {

    position: relative;
    width: 940px;
    margin: 0 auto;
    
}

#logo{
    width: 20%;
}

nav{
    position: absolute;
    top: 75px;
    right: 0px;

}

nav li {

    display: inline;
    margin: 0 0 0 15px;

}
nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: aliceblue;

}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produto {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    
}

.produto li{

    font-family: 'Roboto Slab', serif;
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px  20px;
    box-sizing: border-box;
    border: 2px solid rgb(1, 9, 15);
    border-radius: 10px;
    background-image: linear-gradient( var(--rotate) , #5ddcff, #3c67e3 43%, #4e00c2);
    animation: spin 2.5s linear infinite;
}


@keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }

.produto li:hover{
    border-color: #C78C19;
    
}

.produto li:active{
    border-color: #088c19;
}

.produto li:hover h2 {
    font-size: 34px;
}

.produto h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
    
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0; 
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 20px 0;
}

#logo-rodape {
    width: 12%;
}
.copyright {
    color: aliceblue;
    font-size: 13px;
    margin-top: 20px;
}

main{
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;

}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;

}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 20px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: aliceblue;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background-color: darkorange;
    transform: scale(1.1) rotate(5deg);;
   
}

table {
    margin: 20px 0 40px;
    
}

thead{
    background: black;
    color: aliceblue;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 10px 10px;
}