body{
    background-color: aliceblue;
}

header{
    background-color: rgb(71, 69, 69);
    padding: 20px;
}

.caixa {

    position: relative;
    width: 940px;
    margin: 0 auto;
    
}

#logo{
    width: 20%;
}

nav{
    position: absolute;
    top: 75px;
    right: 0px;

}

nav li {

    display: inline;
    margin: 0 0 0 15px;

}
nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: aliceblue;

}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}


#banner{
    width: 50%;
    border-radius: 5%;
    padding: 5px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.principal{
    
    background-color: rgb(22, 21, 21);
    padding: 30px;
    
}

.titulo-centralizado{
    text-align: center;
    font-size: 30px;
    margin: 20px;
    color: aliceblue;
}

p {
    text-align: center;
    color: aliceblue;
}

#missao {
    font-size: 20px; text-align: center;
}

em strong{
    color: #FF0000;
}

.itens {
    font-style: italic;
}

.beneficios{
    background-color: rgb(22, 21, 21);
    padding: 20px;
    color: aliceblue;
}

.beneficios-descricao{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;

}

.imagembeneficios{
    width: 35%;
    border-radius: 10%;
    
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 20px 0;
}

#logo-rodape {
    width: 12%;
}
.copyright {
    color: aliceblue;
    font-size: 13px;
    margin-top: 20px;
}